* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

body {
  background: #222222;
  user-select: none;
}

.calculator {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  width: 340px;
  margin: 100px auto;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.display {
  background-color: #eee;
  border-radius: 5px;
  font-size: 48px;
  padding: 10px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: repeat(4, 1fr);
}

.buttons__row {
  width: 100%;
  display: flex;
  gap: 8px;
}

.buttons__row * {
  flex: 1;
  background-color: #d6af46;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  padding: 20px;
  transition: 200ms;
}

.buttons__row *:hover {
  background-color: #d69f46;
}

.buttons__row *:active {
  background-color: #d68b46;
}

.buttons__number {
  background-color: #f2f2f2;
}

.buttons__number:hover {
  background-color: #e5e5e5;
}

.buttons__number:active {
  background-color: #d7d7d7;
}
